


		.topo{
			width: 600px;
			margin-top: 20px;
			padding: 10px;
			margin: auto;
			text-align: center;
			border: 1px solid #ff4500;
			color: rgba(255, 69, 0, 1.0);
			text-shadow: #ff4500  
			-2px -2px 0px #FFF, 
               -2px 2px 0px #FFF,                    
                2px -2px 0px #FFF,                  
                2px 0px 0px #FFF;
                opacity: 0.8;
		}
	
		.d1{
			padding: 25px;
			margin-bottom: 0px;
			width: 350px;
			height: 150;
			text-align: left;
			margin: auto;
			padding-bottom: 1px;
			margin-top: 20px;
			background-color: rgba(255, 80, 0, 0.3);
			
		}

		.b1{
			border-radius: 15px;
			width: 70%;
			text-align: center;
			padding: 6px;
			background-color: #ccc;
			margin-left: 15%;

		}
		.b1:hover{
			background-color: #ff4500;
			cursor: pointer;}

		.b2{
	
			border-radius: 15px;
			background-color: #ccc;
			bottom: 0px;
		}
		
		.b2:hover{
			background-color: #ff4500;
			cursor: pointer;
			
		}
		body
		{
			font-family: arial;
			
			background-image: url(fundo2.jpg);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			max-width: 1500px;
			min-width: 400px;
			max-height: 980px;
			min-height: 600px;
			display: inline;
		}
		.img1{
			width: 100px;
			opacity: 0.5;
			margin-top: 5px;
			margin-left: 5px;
			border-radius: 50%;
		}
		.img1:hover{
			opacity: 1;
		}
		.img2{
			width: 50px;
			height:50px;
			top: -400px;
		}
		.rodape{
				position: absolute;
				bottom: 10px;
				right: 10px;
				font-size: 15px;
			}
			.CNFT{
				width: 400px;
				
				right: 5px;	
				position: fixed;	
				
				text-shadow: inherit;
				text-align: center;
			}
			.img2{
				width: 150px;
				border-radius: 15px;
			}

			
		
